* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul { list-style-type: none;}
a { text-decoration: none;}

body {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Nanum Myeongjo', serif;
  font-size: 100%;
}

#main {
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 100vh;  /* 디바이스 높이 100% */
  background: #ccc;
  /* 이미지 사이즈: 최소 750 x 1334 px */
  background-image: url(./images/title.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
#main > .title_text {
  /* 배색: #b4dbdc */
  background: #fff;
  color: #557f80;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em;
  line-height: 1.4em;
}
#main > .title_text > h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}
.address { margin-bottom: 1em;}
.name { 
  font-size: 20px;
  font-weight: 700;
}
.name > span { font-size: small;}